/*body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    

}*/
.panel{
    height: 5vh;
    margin: 10px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0.5;
    color: white;
    position: relative;
    cursor: pointer;
    transition: all 1000ms ease-in;
}
.panel.active{
    flex: 5;
    height: 70vh;
}

.panel.active h2{
    opacity: 1;
    transition: opacity 1s ease-in 1.2s;
}

.panel h2{
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
} 


.container{
    
    height: 95vh;
}




#image-1{
    background-image: url(./image-1.jpg)
}

#image-2{
    background-image: url(./image-2.jpg)
}

#image-3{
    background-image: url(./image-3.jpg)
}

#image-4{
    background-image: url(./image-4.jpg)
}

#image-5{
    background-image: url(./image-5.jpg)
}



